<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <title>Detalhes</title>
</head>
<body>
    
    <main>
        <iframe <%= filme.iframe %>>  </iframe>
        <table>
            <td>
                <tr>1</tr>
                <tr>2</tr>
                <tr>3</tr>
                <tr>4</tr>
                <tr>5</tr>
            </td>
        </table>
    </main>
</body>
</html>